body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;    
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #f9faf8;
}

.header-image{
    height: auto;
    width: 300px;
    /* image-resolution: 0.2%; */
}

.mid-image {
    width: auto;
    height: 150px;
    border: 10px solid #1f29371e ;
    border-radius: 50px;
}

.body {
    flex: 1;
}

.header,
.footer {
    /* border: 0.5px solid whitesmoke; */
    display: flex;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px 50px 10px 50px;
}

.header {
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;}

.links-right {
    display: flex;
    gap: 1rem;}

.sign-up-button {
    background-color:#1f2937;
    border-color: #e5e7eb;
    /* border-style: double;  */
    color: #e5e7eb;
    font-weight: 700;
    margin-top: 1rem;
    padding: 5px 20px;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    /* opacity: 1; */
    transition: 0.5s;
}
.container1 {
    /* border: 2px solid orangered; */
    background-color: #1f2937;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0px 50px 75px 50px;
    gap: 10rem;
    flex-wrap: wrap;
}

.content1 {
    max-width: 300px;
}
.content1 h1 {
    color: #f9faf8;
    font-size: 36px;
}

.sign-up-button:hover {
    background-color: #3882f6;
    color: black;
    /* opacity: 0.6; */
}

.container2 {
    /* border: 2px solid orangered; */
    text-align: center;
    align-items: center;
    padding: 5px;
    font-weight: 900;
    font-size: 32px;
    color: #1f2937;
}

.container3 {
    display: flex;
    /* background-color: antiquewhite; */
    justify-content: center;
    gap: 5rem;
    padding: 0px 50px 100px 50px;
    flex-wrap: wrap;
}

.content3 {
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    text-align: center;
}

.container4 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.content4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}
.content4 p {
    font-style: italic;
}

.cta-container {
    /* border: 2px solid orangered; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.blue-box {
    background-color:#3882f6;
    border: 5px solid #1f29371e;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 50px;
    gap: 5rem;
    box-shadow:20px 15px 20px 1px  #1f2937;
}

.cta-content {
    /* border: 2px solid orangered; */
    color:#f9faf8;
    align-items: center;
    flex-basis: 500px;
    
}

.sign-up-button-bottom {
    /* border: 2px solid orangered; */
    background-color:#3882f6;
    border-color:#f9faf8;
    border-style: double; 
    color:#f9faf8;
    font-weight: 500;
    height: 30px;
    padding: 5px 20px;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}
